*.dSYM
*.o
*.gcno
*.gcda
.DS_Store
*.deb

/.idea
/cmake-build-*

# Visual Studio / Visual Studio Code
/.vs/
/out/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
/compile_commands.json

# clangd cache
/.cache/
/.clangd/

# build directories (vscode-cmake-tools, user-defined, ...)
/build*/
/bin/
.toolchain-headers/
.cache/

# temporary files
/tmp/
